@page
@model IndexModel
@{
    ViewData["Title"] = "Untitled Pirate Game";
}

<div class="banner row gx-0">
    <div class="col-lg-6 site-title d-flex flex-row justify-content-between align-items-center">
        <img src="/images/logo-white.png" class="img-fluid logo me-3"  draggable="false" alt="Knights of the Table Entertainment logo"/>
        <div class="d-flex flex-column me-4 me-lg-0">
            <h1>Pirate Game</h1>
            <h3 class="heading-subtitle">Marketing blurb</h3>
        </div>
    </div>
    <div class="col-lg-6 d-flex justify-content-center align-items-end mb-3">
        @*REPLACE JUST https://kickstarter.com/ WITH YOUR KICKSTARTER LINK*@
        <a href="https://kickstarter.com/" class="btn btn-xl btn-success"><i class="fa-brands fa-kickstarter"></i> Visit Kickstarter</a>
    </div>

</div>

<div class="section section-margin">
    <div class="row">
        <div class="col-sm-6 d-flex justify-content-center align-items-center">
            <h3 class="quote text-center mb-4 mb-md-0">"A cross between a deck building game and a strategy board game!"</h3>
        </div>
        <div class="col-sm-6 gx-0 d-flex justify-content-center">
            <div class="card">
                <div class="card-header text-center">
                    <h3 class="text-light">Quick Facts</h3>
                </div>
                <div class="card-body mb-3">
                    <ul class="h4">
                        <li>1-4 players</li>
                        <li>Easy-to-learn strategy game</li>
                        <li>1 hour playtime</li>
                        <li>Available in English</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="py-3 d-flex justify-content-center">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false" data-bs-interval="3000">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/images/Carousel-Image-1.png" class="d-block w-100" alt="Two pirates, one in red and one in blue, standing in front of an oceanfront and shaking hands"  draggable="false">
                </div>
                <div class="carousel-item">
                    <img src="/images/Carousel-Image-2.png" class="d-block w-100" alt="Lone pirate holding a torch in a nighttime-lit pirate ship, fighting off a kraken with a sword"  draggable="false">
                </div>
                <div class="carousel-item">
                    <img src="/images/Carousel-Image-3.png" class="d-block w-100" alt="Pirate helming the captain's wheel during a violent sea storm"  draggable="false">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

<div class="section dark-section justify-content-center mt-0">
    <h2 class="text-center mb-0">How It Works</h2>
    <div class="d-flex justify-content-center" style="margin-top:-1em;">
        <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 664 124" width="400" height="100">
            <title>pixel77-text-decorations-1029-ai</title>
            <style type="text/css">
                .s0 {
                    fill: #ffffff
                }
            </style>
            <g id="Layer 1">
                <g id="&lt;Group&gt;">
                    <g id="&lt;Group&gt;">
                        <g id="&lt;Group&gt;">
                            <path id="&lt;Compound Path&gt;" fill-rule="evenodd" class="s0" d="m617.2-92.9c-2.3 6.7-10.7 12.1-17.8 10.6-3.4-0.7-7.7-2.8-9-6.4-0.6-1.6-0.6-2.8-0.3-3.9-0.1-1.8 0.4-3.8 1.3-5 1-1.4 2.4-2.1 4.1-1.6 1.9 0.6 2.3 2.9 2.3 4.6-0.1 1.9-0.4 4-1.5 5.6-0.4 0.6-1 1-1.6 1.3 2.3 2.1 6 3.1 9.1 2.3 4.4-1.3 9.2-4.6 10.3-9.3 2.2-9-5.8-17.3-12.9-21.4-12.3-7.2-26.6-7.2-40.4-7.4-14-0.2-28 0.4-41.9 2.1-11.3 1.4-22.5 3.5-33.6 5.8-4.4 8.4-14.3 14.2-22.8 17.5-19.9 7.7-44.1 8.5-65.1 5.3-17-2.5-56.7-11.6-65.1-31.2q-0.5-0.9-0.8-1.8-0.2 0.3-0.3 0.6-0.8 1.7-1.9 3.3c-8.8 15.1-36.3 23.5-51 26.8-18.7 4.1-38.1 4.9-57.1 2.2-14.7-2.1-36-8.7-43.8-22.8-7-1.5-14-2.9-21-4-14.8-2.3-29.6-3.6-44.5-3.8-15-0.2-32.8-1.5-46.6 5.4-7.5 3.8-19.2 12.6-16.7 22.6 1.1 4.6 5.6 9.3 10.5 10.1 3.1 0.5 7-0.6 9.4-2.6-0.5-0.2-0.9-0.6-1.2-1-1-1.6-1.4-3.7-1.5-5.6 0-1.7 0.4-4 2.3-4.6 1.7-0.5 3.1 0.2 4.1 1.6 1.3 1.7 1.8 4.8 0.9 7-0.1 0.8-0.3 1.5-0.7 2.1-1 2.6-4.1 4.8-6.6 5.6-6.9 2.2-14.9-1-18.7-7.3-9.2-15.1 9-29.9 21.8-34.2 14.1-4.7 30.2-4 44.9-3.7 14.1 0.4 28.2 1.6 42.2 3.7 6.5 1 12.9 2.3 19.3 3.6-0.9-3.2-1.2-6.6-0.7-10.4 1.3-9.6 6.8-18 16.6-20.4 8.3-2 20.3-2.3 24.6 6.7 7.4 15.6-17.4 24-22.2 8.1-0.4-1.3 1.6-1.8 2-0.6 1.8 5 6.9 6.2 11.6 4.8 5.3-1.6 7.7-6.5 4.7-11.5-3.5-5.8-11.3-6.2-17.4-5-6.5 1.2-12 4.2-14.8 10.7-2.4 5.6-3 12.6-0.5 18.4 16.3 3.5 32.4 7.7 48.7 11.1 26.5 5.6 55.6 10.4 81-2.1 6.8-3.4 15-7.6 18.5-14.8 3-6.2 2.8-14-2.4-19-4.8-4.8-11.2-7.4-18-5.8-3.1 0.7-5.8 2.2-7.2 4.3q0.4 0 0.7 0c1.8 0.4 3.4 2.6 4.2 4.1 1.4 3-0.1 7.5-4 6.7-1.8-0.4-2.8-2.6-3.3-4.2q-0.5-1.7-0.2-3.4c-0.9-3.5 0.7-6.8 5.5-8.9 7.5-3.2 16.2-2.7 22.6 2.6 2.6 2.3 4.7 5 6.1 8 0.7-1.8 1.7-3.4 3-4.9 6.3-6.9 15.9-9.9 24.8-6.1 5.8 2.5 7.8 6.4 6.2 10.7q-0.1 1-0.4 2c-0.5 1.6-1.5 3.8-3.3 4.2-3.9 0.8-5.4-3.7-4-6.7 0.8-1.5 2.4-3.7 4.2-4.1q0.7-0.1 1.3 0c-1.3-2.1-4-3.7-7.2-4.3-5.4-0.9-10.5-0.2-14.9 3-5.8 4.3-9.3 11.3-6.9 18.4 2.2 6.8 7.4 11.1 13.3 14.7 23.8 14 50.3 12.6 76.5 7.8 19.9-3.6 39.5-9 59.3-13.3 2.9-6 3.3-12.8-0.7-19.7-3.6-6.2-9.4-9.2-16.4-9.7-6-0.5-13.9 0.2-16 7.1-3.2 10.4 13.7 14.3 17.1 4.9 0.4-1.2 2.4-0.7 2 0.6-1.7 5.5-7 9.8-13 8.8-5.1-0.9-11.1-5-10.8-10.9 0.9-17.3 27-17.4 36.2-7.1 6.2 6.9 8.1 16.4 5.7 25.2q3.5-0.8 7.1-1.4c28.8-5.4 59.1-8.2 88.3-4.7 15 1.7 41.3 14.6 34.4 34zm-338.1-6.3c-17 1.3-34.3-1.5-51.1-5-15.2-3.1-30.3-7-45.5-10.4 6.8 8.8 18.6 13.4 29.1 15.8 12.8 3 26 3.6 39.1 3.2 9.5-0.3 19.1-1.5 28.4-3.6zm200.6-15.1c-11.7 2.6-23.4 5.4-35.2 8.1-18.2 4.1-38.2 8.5-57.4 7.5 14.7 3 29.5 3.9 44.7 2.8 13-1 27.2-3.2 38.5-10.2 3.5-2.2 6.8-5 9.4-8.2z" />
                        </g>
                        <g id="&lt;Group&gt;">
                            <path id="&lt;Path&gt;" class="s0" d="m303.4-157.7c4.5-4.8 11.2-9.2 17.7-7-0.3-6.9 5.6-9.5 9.9-14.9-0.1-0.7 10.4 8.2 9.6 15.3 6.5-2.2 13.1 2.1 17.6 6.9 0.8 0.8-22.9-1.9-26.2 10.9-0.2 0.8-0.9 0.5-1.2-0.3-6.6-15.8-28.5-9.7-27.4-10.9z" />
                        </g>
                        <g id="&lt;Group&gt;">
                            <path id="&lt;Path&gt;" class="s0" d="m122.8-134.1c-2.4-4.7 0-9.8 6.8-11.5 2.9-0.8 9 2.5 5.9 5.5-0.1 0.1-0.2 0-0.1 0 1.5-3.4-4.8-5.3-6.8-3.6-9.4 7.9 1.9 16.5 15.5 12.1 1.6-0.5 5.7-0.9 7.6-0.9-4.7-1.7-6.2-5.5-3.4-8.8 3.4-4.1 10-0.7 13.8 2.2 4.2-13.5 23.6-13.3 23.5-12.7 0 0.1-9.3 3.4-13.7 14-3.7 9.1-0.3 13.5-0.5 13.5-0.1 0-10.9-4.3-16.4-4.7-4.5-0.3-8.9 0.1-13.4 0.6-5 0.5-16.1-0.1-18.8-5.7z" />
                        </g>
                        <g id="&lt;Group&gt;">
                            <path id="&lt;Path&gt;" class="s0" d="m477.1-151.8c-0.1-0.6 19.3-0.8 23.5 12.7 3.8-2.9 10.4-6.3 13.8-2.2 2.8 3.3 1.3 7.1-3.4 8.8 1.9 0 6 0.4 7.6 0.9 13.6 4.4 24.9-4.2 15.5-12.1-2-1.7-8.4 0.2-6.8 3.6 0.1 0 0 0.1-0.1 0-3.1-3 2.9-6.3 5.9-5.5 6.8 1.7 9.2 6.8 6.8 11.5-2.7 5.6-13.8 6.2-18.8 5.7-4.5-0.5-8.9-0.9-13.4-0.6-5.5 0.4-16.3 4.7-16.4 4.7-0.2 0 3.2-4.4-0.5-13.5-4.4-10.6-13.7-13.9-13.7-14z" />
                        </g>
                    </g>
                    <g id="&lt;Group&gt;">
                        <g id="&lt;Group&gt;">
                            <path id="&lt;Compound Path&gt;" fill-rule="evenodd" class="s0" d="m638.7 75.3c-16 10.9-39.2-0.3-54-8.2-9.6-5-19-11.8-29.3-15.4q-4.5-1.5-9.1-2.6c4.1 1.9 7.7 4.5 10.3 8 5 6.9 4.6 15.1-1.9 20.6-3.7 3-8.4 4.3-13.1 4.1q-0.4 0.1-0.9 0c-1.2 0.2-2.5 0.1-3.5 0-1.9-0.2-3.5-0.6-5.1-1.7-0.5-0.3-0.8-1.3-0.2-1.8 3.3-2.7 6.7-0.2 10 1.3 0.4 0.1 0.5 0.4 0.6 0.8q0-0.1 0-0.1c0.1 0 0.1 0.1 0 0.1q0 0.2 0 0.3c7.6-0.9 15.5-5.5 14.7-13.5-1.1-10.7-13.1-15.5-22.3-17-21.1-3.5-42.1 1.9-61.8 9.1q2.8 1.9 5.3 4.4c5.5 5.3 9.8 12.9 8.6 20.8-1.4 8.1-8.4 15.1-16.4 16.7-7.4 1.5-17.5-2.9-19.9-10.4-2.5-7.9 4.2-16.5 12.1-12.5 0.6 0.3 1.2 0.6 1.9 1 0.4 0.2 0.8 0.8 0.7 1.3-0.2 2-1.6 3.2-3.6 2.7-1.4-0.3-2.7-1.2-3.7-2.2-0.5-0.4-0.6-1.1-0.5-1.7-4.2 1.6-6.3 8.3-3.5 12.4 2.4 3.6 6.4 6.1 10.7 6.7 8 1.1 16.6-5.1 18.4-13 2.3-10.1-5.1-19.5-13.4-24.3q-0.4-0.2-0.8-0.4c-28.7 10.9-56.9 26.3-87.5 31-14.8 2.2-35.4 3.2-45.7-10.2-2.3-3-3.7-6.4-4.4-10-0.5 3.4-1.8 6.7-3.9 9.4-10.1 13.2-29.6 13.3-44.5 11-30.9-4.7-59-19.9-88-30.8q-0.6-0.2-1.2-0.4c-4.4 2.4-8.3 5.7-10.9 10-5.7 9-4.2 19.7 5.2 25.6 5.4 3.4 13.1 2.9 17.9-1.5 2.1-1.8 4.6-4.8 4.3-7.8-0.2-3.2-2.3-6.5-5.1-7.6 0.1 0.5-0.1 1.2-0.5 1.6-1 1-2.3 1.9-3.7 2.2-2 0.5-3.4-0.7-3.7-2.7 0-0.5 0.4-1.1 0.8-1.3 0.8-0.4 1.6-0.9 2.3-1.1 3-1.5 6.2-1.8 8.8 0.9 2.8 2.8 4.6 6.7 3.4 10.6-2.4 7.5-10.9 12.7-18.8 11.7-7.7-1-15.7-7.2-17.5-15-1.7-7.7 1.3-15.5 6.6-21.1q3.4-3.5 7.1-5.9c-19.6-7.2-41.1-13.1-62-9.2-8.4 1.5-22.2 6.3-22.3 17-0.1 7.8 7.2 12.6 14.6 13.6-0.1-0.5 0.1-1 0.6-1.2 3.3-1.5 6.7-4 10-1.3 0.6 0.5 0.3 1.5-0.2 1.8-1.6 1.1-3.3 1.5-5.1 1.7-1 0.1-2.3 0.2-3.5 0-0.5 0.1-0.9 0.1-1.2-0.2-7.3 0.2-15.1-2.8-17.4-10-3.6-11 6.2-19.9 15.8-23.1q0.2-0.1 0.5-0.1c-5.5 0.9-10.8 2.4-15.9 4.8-9.2 4.5-17.9 10-27 14.7-14.8 7.6-38.2 18.5-53.6 6.7-7.5-5.8-9.9-16.6-5.3-23.8q-0.3-0.3-0.3-0.7c-0.1-1.3 1.2-2.2 2.1-3 1-1 2.1-1.9 3.3-2.5 0.9-0.4 2.6-1 3.4-0.2 0.6 0.6 0.6 1.5 0.5 2.2-0.5 1.8-2.6 2.9-4.1 3.6-0.9 0.4-2.5 1.2-3.7 0.9q-0.2 0.1-0.4 0.1-0.1 0-0.2-0.1c-2.8 4.6-3 10.5 0.6 15.6 5.8 8.2 13.8 10.8 23.8 9.6 20.3-2.6 37.6-15.7 55.5-24.6 16.2-8 34.6-9.3 52.3-6.5 7.3 1.2 14.8 2.3 21.9 4.4 2.8 0.8 6 1.6 8.8 2.9q6.4 2.1 12.7 4.5c16.6-7.9 37.4-3.3 54.3 3.8 13.2 5.6 25.8 13.2 39.4 17.9 10 3.6 23.7 6.5 33.2-0.2 7.3-5.1 8.1-14.3 2.3-21.1-3.4-3.9-8-6.7-13.4-6q-0.6 0.1-1.1 0.2-0.4 0.2-0.8 0.4c-1.4 0.8-2.8 1.7-3.9 2.8-1 1.7-1.3 3.8-0.7 6 1.7 3 5.5 5.3 7.2 0.5 0-0.1 0.3-0.1 0.3 0.1-1.4 6.4-7.3 3.8-9.4-0.7-1.5-3.1-0.7-5.7 1.2-7.7q0.5-0.9 1.6-1.8c1.3-1.1 2.9-1.7 4.6-2 2.1-0.8 4.3-1.1 6.1-1 9.1 0.4 14.7 7.4 16.2 15.3 1.3-7.5 8.9-14.9 16.5-15.3 2-0.1 4.4 0.3 6.7 1.2 2.4 0.6 4 1.6 5.1 3 2.2 2.1 3.3 4.9 1.8 8.3-2.2 4.5-8 7.1-9.4 0.7-0.1-0.2 0.2-0.2 0.2-0.1 1.6 4.5 5.3 2.8 7.1-0.1 0.8-2.6 0.4-5.2-1-7.1-1.2-1.1-2.7-1.9-4.3-2.5q-0.5-0.1-1.1-0.2c-4.9-0.3-9.4 1.5-12.7 5.2-5.2 6-6.8 14.9-0.1 20.6 8.5 7.3 21.8 5.9 31.7 2.6 14.1-4.5 27.1-12.3 40.7-18.2 16.8-7.2 38.7-13.1 55.9-4.9 5.8-2.2 11.7-4.3 17.7-6q1.8-0.5 3.5-0.9 3.7-1 7.4-1.8 7.9-1.7 16-2.9c17.9-2.7 36.4-1.2 52.6 7.2 17.3 9 35.7 22.9 55.8 24.1 9.6 0.6 17.9-1.8 22.9-10.6 2.8-5.1 2.7-10.5 0.1-14.7q-0.2 0.1-0.4 0.1-0.2 0-0.4-0.1c-1.2 0.3-2.8-0.5-3.7-0.9-1.5-0.7-3.7-1.8-4.1-3.6-0.1-0.7-0.1-1.6 0.5-2.2 0.8-0.8 2.5-0.2 3.4 0.2 1.2 0.6 2.3 1.5 3.3 2.5 0.9 0.8 2.2 1.7 2.1 3q0 0.3-0.2 0.6c4.8 7.5 2 19-6.2 24.6zm1.2-27.2q-0.7-0.6-1.4-1c0.3 0.3 0.8 0.7 1.4 1zm-617 0c0.5-0.3 1.1-0.7 1.4-1q-0.7 0.4-1.4 1zm301.4 31.6q-1.1 1-2.6 1.8c-20.7 11.9-46.1-5.1-64.7-13.7-13.8-6.3-28.9-12.6-44.3-12.1-4.8 0.2-9.7 1.1-14.3 2.9 22.5 8.8 44.3 19.5 67.6 25.9 16.5 4.6 44.8 11.3 58-4.4q0.2-0.2 0.3-0.4zm139.5-21.3c-10.7-3.9-22.5-3.1-33.6 0.1-14.6 4.1-27.9 11.2-41.5 17.6-10.8 5-22.6 10.2-34.8 9.1-5-0.5-10.5-1.9-14.7-5 3.1 3.5 7.3 6 12.1 7.4 25 7.2 53.5-4.7 76.4-14 11.9-4.8 23.9-10.3 36.1-15.2z" />
                        </g>
                        <g id="&lt;Group&gt;">
                            <path id="&lt;Path&gt;" class="s0" d="m369.7 100.1c-6.2 2.2-11.4 7.2-18.4 7.2-4.1 0-7.6-1-10.9-3 0 1.8-0.7 3.4-2.1 5-1.6 1.8-3.3 3.3-4.8 5q-0.6 0.5-1.1 1.1-0.5 0.5-1 1.1-0.5-0.6-1-1.1-0.5-0.5-1-1.1c-1.8-1.8-3.7-3.6-5.4-5.7-1.1-1.4-1.6-2.8-1.6-4.3-3.7 2.3-7.8 3.3-12.5 2.9-6.2-0.6-11-5.1-16.8-7.1-0.5-0.1 9-1.4 13.2-2.1 3-0.5 6.1-1.3 9-2.4 6.4-2.5 14.8-6 16.1-14.1 0.1 0.1 2.7 10.5 16.2 14.1 3.4 1 6.9 2.3 10.5 2.6 3.6 0.2 12.1 1.8 11.6 1.9z" />
                        </g>
                    </g>
                    <path id="&lt;Path&gt;" class="s0" d="m553.9-79.6c0 1.9-1.6 3.4-3.4 3.4-1.7 0-3.1-1.2-3.4-2.8h-431.3c-0.3 1.6-1.7 2.8-3.3 2.8-1.9 0-3.4-1.5-3.4-3.4 0-1.9 1.5-3.4 3.4-3.4 1.6 0 3 1.2 3.3 2.8h431.3c0.3-1.6 1.7-2.8 3.4-2.8 1.8 0 3.4 1.5 3.4 3.4z" />
                    <path id="&lt;Path&gt;" class="s0" d="m554.2 32.2c0 1.9-1.6 3.4-3.5 3.4-1.6 0-2.9-1.1-3.3-2.7h-431.9c-0.4 1.6-1.7 2.7-3.3 2.7-1.9 0-3.4-1.5-3.4-3.4 0-1.9 1.5-3.4 3.4-3.4 1.7 0 3.1 1.3 3.3 3h431.9c0.2-1.7 1.6-3 3.3-3 1.9 0 3.5 1.5 3.5 3.4z" />
                </g>
            </g>
        </svg>
    </div>
    <p class="px-5 text-center">An easy to learn strategy game for 1-4 players. A cross between a deck building game and a strategy board game!</p>
    <div class="d-flex justify-content-center parent-btn-hanging">
        <button class="btn btn-lg btn-light btn-hanging btn-hanging-medium" data-bs-toggle="modal" data-bs-target="#rule-modal">View Full Rules</button>
    </div>
</div>

<div class="mt-5 d-flex justify-content-center p-3">
    <div class="d-flex youtube-rounded">
        @*REPLACE JUST https://www.youtube.com/embed/7q8H4wdZjAg WITH YOUR YOUTUBE EMBED LINK*@
        <iframe title="YouTube embed" width="560" height="315" src="https://www.youtube.com/embed/7q8H4wdZjAg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="img-fluid youtube"></iframe>

    </div>
</div>

<div class="section dark-section section-margin border-top">
    <h2 class="text-light text-center">Seen Enough?</h2>
    <div class="d-flex justify-content-center" style="margin-top:-1em;">
        <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 664 124" width="400" height="100">
            <title>pixel77-text-decorations-1029-ai</title>
            <style type="text/css">
                .s0 {
                    fill: #ffffff
                }
            </style>
            <g id="Layer 1">
                <g id="&lt;Group&gt;">
                    <g id="&lt;Group&gt;">
                        <g id="&lt;Group&gt;">
                            <path id="&lt;Compound Path&gt;" fill-rule="evenodd" class="s0" d="m617.2-92.9c-2.3 6.7-10.7 12.1-17.8 10.6-3.4-0.7-7.7-2.8-9-6.4-0.6-1.6-0.6-2.8-0.3-3.9-0.1-1.8 0.4-3.8 1.3-5 1-1.4 2.4-2.1 4.1-1.6 1.9 0.6 2.3 2.9 2.3 4.6-0.1 1.9-0.4 4-1.5 5.6-0.4 0.6-1 1-1.6 1.3 2.3 2.1 6 3.1 9.1 2.3 4.4-1.3 9.2-4.6 10.3-9.3 2.2-9-5.8-17.3-12.9-21.4-12.3-7.2-26.6-7.2-40.4-7.4-14-0.2-28 0.4-41.9 2.1-11.3 1.4-22.5 3.5-33.6 5.8-4.4 8.4-14.3 14.2-22.8 17.5-19.9 7.7-44.1 8.5-65.1 5.3-17-2.5-56.7-11.6-65.1-31.2q-0.5-0.9-0.8-1.8-0.2 0.3-0.3 0.6-0.8 1.7-1.9 3.3c-8.8 15.1-36.3 23.5-51 26.8-18.7 4.1-38.1 4.9-57.1 2.2-14.7-2.1-36-8.7-43.8-22.8-7-1.5-14-2.9-21-4-14.8-2.3-29.6-3.6-44.5-3.8-15-0.2-32.8-1.5-46.6 5.4-7.5 3.8-19.2 12.6-16.7 22.6 1.1 4.6 5.6 9.3 10.5 10.1 3.1 0.5 7-0.6 9.4-2.6-0.5-0.2-0.9-0.6-1.2-1-1-1.6-1.4-3.7-1.5-5.6 0-1.7 0.4-4 2.3-4.6 1.7-0.5 3.1 0.2 4.1 1.6 1.3 1.7 1.8 4.8 0.9 7-0.1 0.8-0.3 1.5-0.7 2.1-1 2.6-4.1 4.8-6.6 5.6-6.9 2.2-14.9-1-18.7-7.3-9.2-15.1 9-29.9 21.8-34.2 14.1-4.7 30.2-4 44.9-3.7 14.1 0.4 28.2 1.6 42.2 3.7 6.5 1 12.9 2.3 19.3 3.6-0.9-3.2-1.2-6.6-0.7-10.4 1.3-9.6 6.8-18 16.6-20.4 8.3-2 20.3-2.3 24.6 6.7 7.4 15.6-17.4 24-22.2 8.1-0.4-1.3 1.6-1.8 2-0.6 1.8 5 6.9 6.2 11.6 4.8 5.3-1.6 7.7-6.5 4.7-11.5-3.5-5.8-11.3-6.2-17.4-5-6.5 1.2-12 4.2-14.8 10.7-2.4 5.6-3 12.6-0.5 18.4 16.3 3.5 32.4 7.7 48.7 11.1 26.5 5.6 55.6 10.4 81-2.1 6.8-3.4 15-7.6 18.5-14.8 3-6.2 2.8-14-2.4-19-4.8-4.8-11.2-7.4-18-5.8-3.1 0.7-5.8 2.2-7.2 4.3q0.4 0 0.7 0c1.8 0.4 3.4 2.6 4.2 4.1 1.4 3-0.1 7.5-4 6.7-1.8-0.4-2.8-2.6-3.3-4.2q-0.5-1.7-0.2-3.4c-0.9-3.5 0.7-6.8 5.5-8.9 7.5-3.2 16.2-2.7 22.6 2.6 2.6 2.3 4.7 5 6.1 8 0.7-1.8 1.7-3.4 3-4.9 6.3-6.9 15.9-9.9 24.8-6.1 5.8 2.5 7.8 6.4 6.2 10.7q-0.1 1-0.4 2c-0.5 1.6-1.5 3.8-3.3 4.2-3.9 0.8-5.4-3.7-4-6.7 0.8-1.5 2.4-3.7 4.2-4.1q0.7-0.1 1.3 0c-1.3-2.1-4-3.7-7.2-4.3-5.4-0.9-10.5-0.2-14.9 3-5.8 4.3-9.3 11.3-6.9 18.4 2.2 6.8 7.4 11.1 13.3 14.7 23.8 14 50.3 12.6 76.5 7.8 19.9-3.6 39.5-9 59.3-13.3 2.9-6 3.3-12.8-0.7-19.7-3.6-6.2-9.4-9.2-16.4-9.7-6-0.5-13.9 0.2-16 7.1-3.2 10.4 13.7 14.3 17.1 4.9 0.4-1.2 2.4-0.7 2 0.6-1.7 5.5-7 9.8-13 8.8-5.1-0.9-11.1-5-10.8-10.9 0.9-17.3 27-17.4 36.2-7.1 6.2 6.9 8.1 16.4 5.7 25.2q3.5-0.8 7.1-1.4c28.8-5.4 59.1-8.2 88.3-4.7 15 1.7 41.3 14.6 34.4 34zm-338.1-6.3c-17 1.3-34.3-1.5-51.1-5-15.2-3.1-30.3-7-45.5-10.4 6.8 8.8 18.6 13.4 29.1 15.8 12.8 3 26 3.6 39.1 3.2 9.5-0.3 19.1-1.5 28.4-3.6zm200.6-15.1c-11.7 2.6-23.4 5.4-35.2 8.1-18.2 4.1-38.2 8.5-57.4 7.5 14.7 3 29.5 3.9 44.7 2.8 13-1 27.2-3.2 38.5-10.2 3.5-2.2 6.8-5 9.4-8.2z" />
                        </g>
                        <g id="&lt;Group&gt;">
                            <path id="&lt;Path&gt;" class="s0" d="m303.4-157.7c4.5-4.8 11.2-9.2 17.7-7-0.3-6.9 5.6-9.5 9.9-14.9-0.1-0.7 10.4 8.2 9.6 15.3 6.5-2.2 13.1 2.1 17.6 6.9 0.8 0.8-22.9-1.9-26.2 10.9-0.2 0.8-0.9 0.5-1.2-0.3-6.6-15.8-28.5-9.7-27.4-10.9z" />
                        </g>
                        <g id="&lt;Group&gt;">
                            <path id="&lt;Path&gt;" class="s0" d="m122.8-134.1c-2.4-4.7 0-9.8 6.8-11.5 2.9-0.8 9 2.5 5.9 5.5-0.1 0.1-0.2 0-0.1 0 1.5-3.4-4.8-5.3-6.8-3.6-9.4 7.9 1.9 16.5 15.5 12.1 1.6-0.5 5.7-0.9 7.6-0.9-4.7-1.7-6.2-5.5-3.4-8.8 3.4-4.1 10-0.7 13.8 2.2 4.2-13.5 23.6-13.3 23.5-12.7 0 0.1-9.3 3.4-13.7 14-3.7 9.1-0.3 13.5-0.5 13.5-0.1 0-10.9-4.3-16.4-4.7-4.5-0.3-8.9 0.1-13.4 0.6-5 0.5-16.1-0.1-18.8-5.7z" />
                        </g>
                        <g id="&lt;Group&gt;">
                            <path id="&lt;Path&gt;" class="s0" d="m477.1-151.8c-0.1-0.6 19.3-0.8 23.5 12.7 3.8-2.9 10.4-6.3 13.8-2.2 2.8 3.3 1.3 7.1-3.4 8.8 1.9 0 6 0.4 7.6 0.9 13.6 4.4 24.9-4.2 15.5-12.1-2-1.7-8.4 0.2-6.8 3.6 0.1 0 0 0.1-0.1 0-3.1-3 2.9-6.3 5.9-5.5 6.8 1.7 9.2 6.8 6.8 11.5-2.7 5.6-13.8 6.2-18.8 5.7-4.5-0.5-8.9-0.9-13.4-0.6-5.5 0.4-16.3 4.7-16.4 4.7-0.2 0 3.2-4.4-0.5-13.5-4.4-10.6-13.7-13.9-13.7-14z" />
                        </g>
                    </g>
                    <g id="&lt;Group&gt;">
                        <g id="&lt;Group&gt;">
                            <path id="&lt;Compound Path&gt;" fill-rule="evenodd" class="s0" d="m638.7 75.3c-16 10.9-39.2-0.3-54-8.2-9.6-5-19-11.8-29.3-15.4q-4.5-1.5-9.1-2.6c4.1 1.9 7.7 4.5 10.3 8 5 6.9 4.6 15.1-1.9 20.6-3.7 3-8.4 4.3-13.1 4.1q-0.4 0.1-0.9 0c-1.2 0.2-2.5 0.1-3.5 0-1.9-0.2-3.5-0.6-5.1-1.7-0.5-0.3-0.8-1.3-0.2-1.8 3.3-2.7 6.7-0.2 10 1.3 0.4 0.1 0.5 0.4 0.6 0.8q0-0.1 0-0.1c0.1 0 0.1 0.1 0 0.1q0 0.2 0 0.3c7.6-0.9 15.5-5.5 14.7-13.5-1.1-10.7-13.1-15.5-22.3-17-21.1-3.5-42.1 1.9-61.8 9.1q2.8 1.9 5.3 4.4c5.5 5.3 9.8 12.9 8.6 20.8-1.4 8.1-8.4 15.1-16.4 16.7-7.4 1.5-17.5-2.9-19.9-10.4-2.5-7.9 4.2-16.5 12.1-12.5 0.6 0.3 1.2 0.6 1.9 1 0.4 0.2 0.8 0.8 0.7 1.3-0.2 2-1.6 3.2-3.6 2.7-1.4-0.3-2.7-1.2-3.7-2.2-0.5-0.4-0.6-1.1-0.5-1.7-4.2 1.6-6.3 8.3-3.5 12.4 2.4 3.6 6.4 6.1 10.7 6.7 8 1.1 16.6-5.1 18.4-13 2.3-10.1-5.1-19.5-13.4-24.3q-0.4-0.2-0.8-0.4c-28.7 10.9-56.9 26.3-87.5 31-14.8 2.2-35.4 3.2-45.7-10.2-2.3-3-3.7-6.4-4.4-10-0.5 3.4-1.8 6.7-3.9 9.4-10.1 13.2-29.6 13.3-44.5 11-30.9-4.7-59-19.9-88-30.8q-0.6-0.2-1.2-0.4c-4.4 2.4-8.3 5.7-10.9 10-5.7 9-4.2 19.7 5.2 25.6 5.4 3.4 13.1 2.9 17.9-1.5 2.1-1.8 4.6-4.8 4.3-7.8-0.2-3.2-2.3-6.5-5.1-7.6 0.1 0.5-0.1 1.2-0.5 1.6-1 1-2.3 1.9-3.7 2.2-2 0.5-3.4-0.7-3.7-2.7 0-0.5 0.4-1.1 0.8-1.3 0.8-0.4 1.6-0.9 2.3-1.1 3-1.5 6.2-1.8 8.8 0.9 2.8 2.8 4.6 6.7 3.4 10.6-2.4 7.5-10.9 12.7-18.8 11.7-7.7-1-15.7-7.2-17.5-15-1.7-7.7 1.3-15.5 6.6-21.1q3.4-3.5 7.1-5.9c-19.6-7.2-41.1-13.1-62-9.2-8.4 1.5-22.2 6.3-22.3 17-0.1 7.8 7.2 12.6 14.6 13.6-0.1-0.5 0.1-1 0.6-1.2 3.3-1.5 6.7-4 10-1.3 0.6 0.5 0.3 1.5-0.2 1.8-1.6 1.1-3.3 1.5-5.1 1.7-1 0.1-2.3 0.2-3.5 0-0.5 0.1-0.9 0.1-1.2-0.2-7.3 0.2-15.1-2.8-17.4-10-3.6-11 6.2-19.9 15.8-23.1q0.2-0.1 0.5-0.1c-5.5 0.9-10.8 2.4-15.9 4.8-9.2 4.5-17.9 10-27 14.7-14.8 7.6-38.2 18.5-53.6 6.7-7.5-5.8-9.9-16.6-5.3-23.8q-0.3-0.3-0.3-0.7c-0.1-1.3 1.2-2.2 2.1-3 1-1 2.1-1.9 3.3-2.5 0.9-0.4 2.6-1 3.4-0.2 0.6 0.6 0.6 1.5 0.5 2.2-0.5 1.8-2.6 2.9-4.1 3.6-0.9 0.4-2.5 1.2-3.7 0.9q-0.2 0.1-0.4 0.1-0.1 0-0.2-0.1c-2.8 4.6-3 10.5 0.6 15.6 5.8 8.2 13.8 10.8 23.8 9.6 20.3-2.6 37.6-15.7 55.5-24.6 16.2-8 34.6-9.3 52.3-6.5 7.3 1.2 14.8 2.3 21.9 4.4 2.8 0.8 6 1.6 8.8 2.9q6.4 2.1 12.7 4.5c16.6-7.9 37.4-3.3 54.3 3.8 13.2 5.6 25.8 13.2 39.4 17.9 10 3.6 23.7 6.5 33.2-0.2 7.3-5.1 8.1-14.3 2.3-21.1-3.4-3.9-8-6.7-13.4-6q-0.6 0.1-1.1 0.2-0.4 0.2-0.8 0.4c-1.4 0.8-2.8 1.7-3.9 2.8-1 1.7-1.3 3.8-0.7 6 1.7 3 5.5 5.3 7.2 0.5 0-0.1 0.3-0.1 0.3 0.1-1.4 6.4-7.3 3.8-9.4-0.7-1.5-3.1-0.7-5.7 1.2-7.7q0.5-0.9 1.6-1.8c1.3-1.1 2.9-1.7 4.6-2 2.1-0.8 4.3-1.1 6.1-1 9.1 0.4 14.7 7.4 16.2 15.3 1.3-7.5 8.9-14.9 16.5-15.3 2-0.1 4.4 0.3 6.7 1.2 2.4 0.6 4 1.6 5.1 3 2.2 2.1 3.3 4.9 1.8 8.3-2.2 4.5-8 7.1-9.4 0.7-0.1-0.2 0.2-0.2 0.2-0.1 1.6 4.5 5.3 2.8 7.1-0.1 0.8-2.6 0.4-5.2-1-7.1-1.2-1.1-2.7-1.9-4.3-2.5q-0.5-0.1-1.1-0.2c-4.9-0.3-9.4 1.5-12.7 5.2-5.2 6-6.8 14.9-0.1 20.6 8.5 7.3 21.8 5.9 31.7 2.6 14.1-4.5 27.1-12.3 40.7-18.2 16.8-7.2 38.7-13.1 55.9-4.9 5.8-2.2 11.7-4.3 17.7-6q1.8-0.5 3.5-0.9 3.7-1 7.4-1.8 7.9-1.7 16-2.9c17.9-2.7 36.4-1.2 52.6 7.2 17.3 9 35.7 22.9 55.8 24.1 9.6 0.6 17.9-1.8 22.9-10.6 2.8-5.1 2.7-10.5 0.1-14.7q-0.2 0.1-0.4 0.1-0.2 0-0.4-0.1c-1.2 0.3-2.8-0.5-3.7-0.9-1.5-0.7-3.7-1.8-4.1-3.6-0.1-0.7-0.1-1.6 0.5-2.2 0.8-0.8 2.5-0.2 3.4 0.2 1.2 0.6 2.3 1.5 3.3 2.5 0.9 0.8 2.2 1.7 2.1 3q0 0.3-0.2 0.6c4.8 7.5 2 19-6.2 24.6zm1.2-27.2q-0.7-0.6-1.4-1c0.3 0.3 0.8 0.7 1.4 1zm-617 0c0.5-0.3 1.1-0.7 1.4-1q-0.7 0.4-1.4 1zm301.4 31.6q-1.1 1-2.6 1.8c-20.7 11.9-46.1-5.1-64.7-13.7-13.8-6.3-28.9-12.6-44.3-12.1-4.8 0.2-9.7 1.1-14.3 2.9 22.5 8.8 44.3 19.5 67.6 25.9 16.5 4.6 44.8 11.3 58-4.4q0.2-0.2 0.3-0.4zm139.5-21.3c-10.7-3.9-22.5-3.1-33.6 0.1-14.6 4.1-27.9 11.2-41.5 17.6-10.8 5-22.6 10.2-34.8 9.1-5-0.5-10.5-1.9-14.7-5 3.1 3.5 7.3 6 12.1 7.4 25 7.2 53.5-4.7 76.4-14 11.9-4.8 23.9-10.3 36.1-15.2z" />
                        </g>
                        <g id="&lt;Group&gt;">
                            <path id="&lt;Path&gt;" class="s0" d="m369.7 100.1c-6.2 2.2-11.4 7.2-18.4 7.2-4.1 0-7.6-1-10.9-3 0 1.8-0.7 3.4-2.1 5-1.6 1.8-3.3 3.3-4.8 5q-0.6 0.5-1.1 1.1-0.5 0.5-1 1.1-0.5-0.6-1-1.1-0.5-0.5-1-1.1c-1.8-1.8-3.7-3.6-5.4-5.7-1.1-1.4-1.6-2.8-1.6-4.3-3.7 2.3-7.8 3.3-12.5 2.9-6.2-0.6-11-5.1-16.8-7.1-0.5-0.1 9-1.4 13.2-2.1 3-0.5 6.1-1.3 9-2.4 6.4-2.5 14.8-6 16.1-14.1 0.1 0.1 2.7 10.5 16.2 14.1 3.4 1 6.9 2.3 10.5 2.6 3.6 0.2 12.1 1.8 11.6 1.9z" />
                        </g>
                    </g>
                    <path id="&lt;Path&gt;" class="s0" d="m553.9-79.6c0 1.9-1.6 3.4-3.4 3.4-1.7 0-3.1-1.2-3.4-2.8h-431.3c-0.3 1.6-1.7 2.8-3.3 2.8-1.9 0-3.4-1.5-3.4-3.4 0-1.9 1.5-3.4 3.4-3.4 1.6 0 3 1.2 3.3 2.8h431.3c0.3-1.6 1.7-2.8 3.4-2.8 1.8 0 3.4 1.5 3.4 3.4z" />
                    <path id="&lt;Path&gt;" class="s0" d="m554.2 32.2c0 1.9-1.6 3.4-3.5 3.4-1.6 0-2.9-1.1-3.3-2.7h-431.9c-0.4 1.6-1.7 2.7-3.3 2.7-1.9 0-3.4-1.5-3.4-3.4 0-1.9 1.5-3.4 3.4-3.4 1.7 0 3.1 1.3 3.3 3h431.9c0.2-1.7 1.6-3 3.3-3 1.9 0 3.5 1.5 3.5 3.4z" />
                </g>
            </g>
        </svg>
    </div>
    <div class="row text-center">
        <div class="col-sm-6">
            @*REPLACE JUST https://www.kickstarter.com/projects/variableoutcomes/the-adventures-of-tennessee-james-board-game/widget/card.html?v=2 WITH YOUR KICKSTARTER EMBED LINK*@
            <iframe title="Kickstarter embed" src="https://www.kickstarter.com/projects/variableoutcomes/the-adventures-of-tennessee-james-board-game/widget/card.html?v=2" width="400" height="500" frameborder="0" scrolling="no" class="img-fluid" style="aspect-ratio: 2/3"></iframe>
        </div>

        <div class="col-sm-6 d-flex flex-column justify-content-between">
            <div></div>
            <h3 class="text-light">Subscribe to our email newsletter for updates!</h3>

            <div>
                <div class="d-flex flex-row justify-content-center">
                    <form method="post" class="d-flex flex-column">
                        <div class="d-flex flex-row">
                            <div class="me-3">
                                <input asp-for="EmailAddress" class="form-control btn-ml" type="email" placeholder="Email Address" />
                            </div>
                            <input type="submit" value="Submit" class="btn btn-success btn-ml" asp-page-handler="Add" />
                        </div>
                        <label class="mt-2">@Model.Message</label>
                    </form>

                </div>
            </div>

            <div class="mt-4">
                @*REPLACE JUST https://facebook.com/ WITH YOUR FACEBOOK LINK*@
                <a href="https://facebook.com/"><i class="fa-brands fa-square-facebook icon" title="Facebook page"></i></a>
                @*REPLACE JUST https://twitter.com/ WITH YOUR TWITTER LINK*@
                <a href="https://twitter.com/"><i class="fa-brands fa-square-twitter icon" title="Twitter page"></i></a>
                @*REPLACE JUST https://instagram.com/ WITH YOUR INSTAGRAM LINK*@
                <a href="https://instagram.com/"><i class="fa-brands fa-square-instagram icon" title="Instagram page"></i></a>
                @*REPLACE JUST https://youtube.com/ WITH YOUR YOUTUBE CHANNEL LINK*@
                <a href="https://youtube.com/"><i class="fa-brands fa-square-youtube icon" title="YouTube channel"></i></a>
            </div>

            <div></div>
        </div>
    </div>
</div>


    <div class="section mt-0">
        @if (Model.Posts.Count > 0) {
        <h2 class="text-center" style="color:#180e0e;">Recent Updates</h2>
        <div class="row gx-0">
            @foreach (var item in Model.Posts)
            {
                <div class="col-lg-4 gx-0 d-flex justify-content-center">
                    <div class="card m-3 post" id="@item.PostID">
                        <div class="card-header text-center">
                            <h3 class="text-light">@item.Date.ToShortDateString()</h3>
                        </div>
                        <div class="card-body mb-3">
                            @item.Text
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    </div>



<div class="section dark-section">
    <h2 class="text-center">About the Creators</h2>
    <div class="mx-3">
        <div class="d-flex justify-content-center" style="margin-top:-1em;">
            <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 664 124" width="400" height="100">
                <title>pixel77-text-decorations-1029-ai</title>
                <style type="text/css">
                    .s0 {
                        fill: #ffffff
                    }
                </style>
                <g id="Layer 1">
                    <g id="&lt;Group&gt;">
                        <g id="&lt;Group&gt;">
                            <g id="&lt;Group&gt;">
                                <path id="&lt;Compound Path&gt;" fill-rule="evenodd" class="s0" d="m617.2-92.9c-2.3 6.7-10.7 12.1-17.8 10.6-3.4-0.7-7.7-2.8-9-6.4-0.6-1.6-0.6-2.8-0.3-3.9-0.1-1.8 0.4-3.8 1.3-5 1-1.4 2.4-2.1 4.1-1.6 1.9 0.6 2.3 2.9 2.3 4.6-0.1 1.9-0.4 4-1.5 5.6-0.4 0.6-1 1-1.6 1.3 2.3 2.1 6 3.1 9.1 2.3 4.4-1.3 9.2-4.6 10.3-9.3 2.2-9-5.8-17.3-12.9-21.4-12.3-7.2-26.6-7.2-40.4-7.4-14-0.2-28 0.4-41.9 2.1-11.3 1.4-22.5 3.5-33.6 5.8-4.4 8.4-14.3 14.2-22.8 17.5-19.9 7.7-44.1 8.5-65.1 5.3-17-2.5-56.7-11.6-65.1-31.2q-0.5-0.9-0.8-1.8-0.2 0.3-0.3 0.6-0.8 1.7-1.9 3.3c-8.8 15.1-36.3 23.5-51 26.8-18.7 4.1-38.1 4.9-57.1 2.2-14.7-2.1-36-8.7-43.8-22.8-7-1.5-14-2.9-21-4-14.8-2.3-29.6-3.6-44.5-3.8-15-0.2-32.8-1.5-46.6 5.4-7.5 3.8-19.2 12.6-16.7 22.6 1.1 4.6 5.6 9.3 10.5 10.1 3.1 0.5 7-0.6 9.4-2.6-0.5-0.2-0.9-0.6-1.2-1-1-1.6-1.4-3.7-1.5-5.6 0-1.7 0.4-4 2.3-4.6 1.7-0.5 3.1 0.2 4.1 1.6 1.3 1.7 1.8 4.8 0.9 7-0.1 0.8-0.3 1.5-0.7 2.1-1 2.6-4.1 4.8-6.6 5.6-6.9 2.2-14.9-1-18.7-7.3-9.2-15.1 9-29.9 21.8-34.2 14.1-4.7 30.2-4 44.9-3.7 14.1 0.4 28.2 1.6 42.2 3.7 6.5 1 12.9 2.3 19.3 3.6-0.9-3.2-1.2-6.6-0.7-10.4 1.3-9.6 6.8-18 16.6-20.4 8.3-2 20.3-2.3 24.6 6.7 7.4 15.6-17.4 24-22.2 8.1-0.4-1.3 1.6-1.8 2-0.6 1.8 5 6.9 6.2 11.6 4.8 5.3-1.6 7.7-6.5 4.7-11.5-3.5-5.8-11.3-6.2-17.4-5-6.5 1.2-12 4.2-14.8 10.7-2.4 5.6-3 12.6-0.5 18.4 16.3 3.5 32.4 7.7 48.7 11.1 26.5 5.6 55.6 10.4 81-2.1 6.8-3.4 15-7.6 18.5-14.8 3-6.2 2.8-14-2.4-19-4.8-4.8-11.2-7.4-18-5.8-3.1 0.7-5.8 2.2-7.2 4.3q0.4 0 0.7 0c1.8 0.4 3.4 2.6 4.2 4.1 1.4 3-0.1 7.5-4 6.7-1.8-0.4-2.8-2.6-3.3-4.2q-0.5-1.7-0.2-3.4c-0.9-3.5 0.7-6.8 5.5-8.9 7.5-3.2 16.2-2.7 22.6 2.6 2.6 2.3 4.7 5 6.1 8 0.7-1.8 1.7-3.4 3-4.9 6.3-6.9 15.9-9.9 24.8-6.1 5.8 2.5 7.8 6.4 6.2 10.7q-0.1 1-0.4 2c-0.5 1.6-1.5 3.8-3.3 4.2-3.9 0.8-5.4-3.7-4-6.7 0.8-1.5 2.4-3.7 4.2-4.1q0.7-0.1 1.3 0c-1.3-2.1-4-3.7-7.2-4.3-5.4-0.9-10.5-0.2-14.9 3-5.8 4.3-9.3 11.3-6.9 18.4 2.2 6.8 7.4 11.1 13.3 14.7 23.8 14 50.3 12.6 76.5 7.8 19.9-3.6 39.5-9 59.3-13.3 2.9-6 3.3-12.8-0.7-19.7-3.6-6.2-9.4-9.2-16.4-9.7-6-0.5-13.9 0.2-16 7.1-3.2 10.4 13.7 14.3 17.1 4.9 0.4-1.2 2.4-0.7 2 0.6-1.7 5.5-7 9.8-13 8.8-5.1-0.9-11.1-5-10.8-10.9 0.9-17.3 27-17.4 36.2-7.1 6.2 6.9 8.1 16.4 5.7 25.2q3.5-0.8 7.1-1.4c28.8-5.4 59.1-8.2 88.3-4.7 15 1.7 41.3 14.6 34.4 34zm-338.1-6.3c-17 1.3-34.3-1.5-51.1-5-15.2-3.1-30.3-7-45.5-10.4 6.8 8.8 18.6 13.4 29.1 15.8 12.8 3 26 3.6 39.1 3.2 9.5-0.3 19.1-1.5 28.4-3.6zm200.6-15.1c-11.7 2.6-23.4 5.4-35.2 8.1-18.2 4.1-38.2 8.5-57.4 7.5 14.7 3 29.5 3.9 44.7 2.8 13-1 27.2-3.2 38.5-10.2 3.5-2.2 6.8-5 9.4-8.2z" />
                            </g>
                            <g id="&lt;Group&gt;">
                                <path id="&lt;Path&gt;" class="s0" d="m303.4-157.7c4.5-4.8 11.2-9.2 17.7-7-0.3-6.9 5.6-9.5 9.9-14.9-0.1-0.7 10.4 8.2 9.6 15.3 6.5-2.2 13.1 2.1 17.6 6.9 0.8 0.8-22.9-1.9-26.2 10.9-0.2 0.8-0.9 0.5-1.2-0.3-6.6-15.8-28.5-9.7-27.4-10.9z" />
                            </g>
                            <g id="&lt;Group&gt;">
                                <path id="&lt;Path&gt;" class="s0" d="m122.8-134.1c-2.4-4.7 0-9.8 6.8-11.5 2.9-0.8 9 2.5 5.9 5.5-0.1 0.1-0.2 0-0.1 0 1.5-3.4-4.8-5.3-6.8-3.6-9.4 7.9 1.9 16.5 15.5 12.1 1.6-0.5 5.7-0.9 7.6-0.9-4.7-1.7-6.2-5.5-3.4-8.8 3.4-4.1 10-0.7 13.8 2.2 4.2-13.5 23.6-13.3 23.5-12.7 0 0.1-9.3 3.4-13.7 14-3.7 9.1-0.3 13.5-0.5 13.5-0.1 0-10.9-4.3-16.4-4.7-4.5-0.3-8.9 0.1-13.4 0.6-5 0.5-16.1-0.1-18.8-5.7z" />
                            </g>
                            <g id="&lt;Group&gt;">
                                <path id="&lt;Path&gt;" class="s0" d="m477.1-151.8c-0.1-0.6 19.3-0.8 23.5 12.7 3.8-2.9 10.4-6.3 13.8-2.2 2.8 3.3 1.3 7.1-3.4 8.8 1.9 0 6 0.4 7.6 0.9 13.6 4.4 24.9-4.2 15.5-12.1-2-1.7-8.4 0.2-6.8 3.6 0.1 0 0 0.1-0.1 0-3.1-3 2.9-6.3 5.9-5.5 6.8 1.7 9.2 6.8 6.8 11.5-2.7 5.6-13.8 6.2-18.8 5.7-4.5-0.5-8.9-0.9-13.4-0.6-5.5 0.4-16.3 4.7-16.4 4.7-0.2 0 3.2-4.4-0.5-13.5-4.4-10.6-13.7-13.9-13.7-14z" />
                            </g>
                        </g>
                        <g id="&lt;Group&gt;">
                            <g id="&lt;Group&gt;">
                                <path id="&lt;Compound Path&gt;" fill-rule="evenodd" class="s0" d="m638.7 75.3c-16 10.9-39.2-0.3-54-8.2-9.6-5-19-11.8-29.3-15.4q-4.5-1.5-9.1-2.6c4.1 1.9 7.7 4.5 10.3 8 5 6.9 4.6 15.1-1.9 20.6-3.7 3-8.4 4.3-13.1 4.1q-0.4 0.1-0.9 0c-1.2 0.2-2.5 0.1-3.5 0-1.9-0.2-3.5-0.6-5.1-1.7-0.5-0.3-0.8-1.3-0.2-1.8 3.3-2.7 6.7-0.2 10 1.3 0.4 0.1 0.5 0.4 0.6 0.8q0-0.1 0-0.1c0.1 0 0.1 0.1 0 0.1q0 0.2 0 0.3c7.6-0.9 15.5-5.5 14.7-13.5-1.1-10.7-13.1-15.5-22.3-17-21.1-3.5-42.1 1.9-61.8 9.1q2.8 1.9 5.3 4.4c5.5 5.3 9.8 12.9 8.6 20.8-1.4 8.1-8.4 15.1-16.4 16.7-7.4 1.5-17.5-2.9-19.9-10.4-2.5-7.9 4.2-16.5 12.1-12.5 0.6 0.3 1.2 0.6 1.9 1 0.4 0.2 0.8 0.8 0.7 1.3-0.2 2-1.6 3.2-3.6 2.7-1.4-0.3-2.7-1.2-3.7-2.2-0.5-0.4-0.6-1.1-0.5-1.7-4.2 1.6-6.3 8.3-3.5 12.4 2.4 3.6 6.4 6.1 10.7 6.7 8 1.1 16.6-5.1 18.4-13 2.3-10.1-5.1-19.5-13.4-24.3q-0.4-0.2-0.8-0.4c-28.7 10.9-56.9 26.3-87.5 31-14.8 2.2-35.4 3.2-45.7-10.2-2.3-3-3.7-6.4-4.4-10-0.5 3.4-1.8 6.7-3.9 9.4-10.1 13.2-29.6 13.3-44.5 11-30.9-4.7-59-19.9-88-30.8q-0.6-0.2-1.2-0.4c-4.4 2.4-8.3 5.7-10.9 10-5.7 9-4.2 19.7 5.2 25.6 5.4 3.4 13.1 2.9 17.9-1.5 2.1-1.8 4.6-4.8 4.3-7.8-0.2-3.2-2.3-6.5-5.1-7.6 0.1 0.5-0.1 1.2-0.5 1.6-1 1-2.3 1.9-3.7 2.2-2 0.5-3.4-0.7-3.7-2.7 0-0.5 0.4-1.1 0.8-1.3 0.8-0.4 1.6-0.9 2.3-1.1 3-1.5 6.2-1.8 8.8 0.9 2.8 2.8 4.6 6.7 3.4 10.6-2.4 7.5-10.9 12.7-18.8 11.7-7.7-1-15.7-7.2-17.5-15-1.7-7.7 1.3-15.5 6.6-21.1q3.4-3.5 7.1-5.9c-19.6-7.2-41.1-13.1-62-9.2-8.4 1.5-22.2 6.3-22.3 17-0.1 7.8 7.2 12.6 14.6 13.6-0.1-0.5 0.1-1 0.6-1.2 3.3-1.5 6.7-4 10-1.3 0.6 0.5 0.3 1.5-0.2 1.8-1.6 1.1-3.3 1.5-5.1 1.7-1 0.1-2.3 0.2-3.5 0-0.5 0.1-0.9 0.1-1.2-0.2-7.3 0.2-15.1-2.8-17.4-10-3.6-11 6.2-19.9 15.8-23.1q0.2-0.1 0.5-0.1c-5.5 0.9-10.8 2.4-15.9 4.8-9.2 4.5-17.9 10-27 14.7-14.8 7.6-38.2 18.5-53.6 6.7-7.5-5.8-9.9-16.6-5.3-23.8q-0.3-0.3-0.3-0.7c-0.1-1.3 1.2-2.2 2.1-3 1-1 2.1-1.9 3.3-2.5 0.9-0.4 2.6-1 3.4-0.2 0.6 0.6 0.6 1.5 0.5 2.2-0.5 1.8-2.6 2.9-4.1 3.6-0.9 0.4-2.5 1.2-3.7 0.9q-0.2 0.1-0.4 0.1-0.1 0-0.2-0.1c-2.8 4.6-3 10.5 0.6 15.6 5.8 8.2 13.8 10.8 23.8 9.6 20.3-2.6 37.6-15.7 55.5-24.6 16.2-8 34.6-9.3 52.3-6.5 7.3 1.2 14.8 2.3 21.9 4.4 2.8 0.8 6 1.6 8.8 2.9q6.4 2.1 12.7 4.5c16.6-7.9 37.4-3.3 54.3 3.8 13.2 5.6 25.8 13.2 39.4 17.9 10 3.6 23.7 6.5 33.2-0.2 7.3-5.1 8.1-14.3 2.3-21.1-3.4-3.9-8-6.7-13.4-6q-0.6 0.1-1.1 0.2-0.4 0.2-0.8 0.4c-1.4 0.8-2.8 1.7-3.9 2.8-1 1.7-1.3 3.8-0.7 6 1.7 3 5.5 5.3 7.2 0.5 0-0.1 0.3-0.1 0.3 0.1-1.4 6.4-7.3 3.8-9.4-0.7-1.5-3.1-0.7-5.7 1.2-7.7q0.5-0.9 1.6-1.8c1.3-1.1 2.9-1.7 4.6-2 2.1-0.8 4.3-1.1 6.1-1 9.1 0.4 14.7 7.4 16.2 15.3 1.3-7.5 8.9-14.9 16.5-15.3 2-0.1 4.4 0.3 6.7 1.2 2.4 0.6 4 1.6 5.1 3 2.2 2.1 3.3 4.9 1.8 8.3-2.2 4.5-8 7.1-9.4 0.7-0.1-0.2 0.2-0.2 0.2-0.1 1.6 4.5 5.3 2.8 7.1-0.1 0.8-2.6 0.4-5.2-1-7.1-1.2-1.1-2.7-1.9-4.3-2.5q-0.5-0.1-1.1-0.2c-4.9-0.3-9.4 1.5-12.7 5.2-5.2 6-6.8 14.9-0.1 20.6 8.5 7.3 21.8 5.9 31.7 2.6 14.1-4.5 27.1-12.3 40.7-18.2 16.8-7.2 38.7-13.1 55.9-4.9 5.8-2.2 11.7-4.3 17.7-6q1.8-0.5 3.5-0.9 3.7-1 7.4-1.8 7.9-1.7 16-2.9c17.9-2.7 36.4-1.2 52.6 7.2 17.3 9 35.7 22.9 55.8 24.1 9.6 0.6 17.9-1.8 22.9-10.6 2.8-5.1 2.7-10.5 0.1-14.7q-0.2 0.1-0.4 0.1-0.2 0-0.4-0.1c-1.2 0.3-2.8-0.5-3.7-0.9-1.5-0.7-3.7-1.8-4.1-3.6-0.1-0.7-0.1-1.6 0.5-2.2 0.8-0.8 2.5-0.2 3.4 0.2 1.2 0.6 2.3 1.5 3.3 2.5 0.9 0.8 2.2 1.7 2.1 3q0 0.3-0.2 0.6c4.8 7.5 2 19-6.2 24.6zm1.2-27.2q-0.7-0.6-1.4-1c0.3 0.3 0.8 0.7 1.4 1zm-617 0c0.5-0.3 1.1-0.7 1.4-1q-0.7 0.4-1.4 1zm301.4 31.6q-1.1 1-2.6 1.8c-20.7 11.9-46.1-5.1-64.7-13.7-13.8-6.3-28.9-12.6-44.3-12.1-4.8 0.2-9.7 1.1-14.3 2.9 22.5 8.8 44.3 19.5 67.6 25.9 16.5 4.6 44.8 11.3 58-4.4q0.2-0.2 0.3-0.4zm139.5-21.3c-10.7-3.9-22.5-3.1-33.6 0.1-14.6 4.1-27.9 11.2-41.5 17.6-10.8 5-22.6 10.2-34.8 9.1-5-0.5-10.5-1.9-14.7-5 3.1 3.5 7.3 6 12.1 7.4 25 7.2 53.5-4.7 76.4-14 11.9-4.8 23.9-10.3 36.1-15.2z" />
                            </g>
                            <g id="&lt;Group&gt;">
                                <path id="&lt;Path&gt;" class="s0" d="m369.7 100.1c-6.2 2.2-11.4 7.2-18.4 7.2-4.1 0-7.6-1-10.9-3 0 1.8-0.7 3.4-2.1 5-1.6 1.8-3.3 3.3-4.8 5q-0.6 0.5-1.1 1.1-0.5 0.5-1 1.1-0.5-0.6-1-1.1-0.5-0.5-1-1.1c-1.8-1.8-3.7-3.6-5.4-5.7-1.1-1.4-1.6-2.8-1.6-4.3-3.7 2.3-7.8 3.3-12.5 2.9-6.2-0.6-11-5.1-16.8-7.1-0.5-0.1 9-1.4 13.2-2.1 3-0.5 6.1-1.3 9-2.4 6.4-2.5 14.8-6 16.1-14.1 0.1 0.1 2.7 10.5 16.2 14.1 3.4 1 6.9 2.3 10.5 2.6 3.6 0.2 12.1 1.8 11.6 1.9z" />
                            </g>
                        </g>
                        <path id="&lt;Path&gt;" class="s0" d="m553.9-79.6c0 1.9-1.6 3.4-3.4 3.4-1.7 0-3.1-1.2-3.4-2.8h-431.3c-0.3 1.6-1.7 2.8-3.3 2.8-1.9 0-3.4-1.5-3.4-3.4 0-1.9 1.5-3.4 3.4-3.4 1.6 0 3 1.2 3.3 2.8h431.3c0.3-1.6 1.7-2.8 3.4-2.8 1.8 0 3.4 1.5 3.4 3.4z" />
                        <path id="&lt;Path&gt;" class="s0" d="m554.2 32.2c0 1.9-1.6 3.4-3.5 3.4-1.6 0-2.9-1.1-3.3-2.7h-431.9c-0.4 1.6-1.7 2.7-3.3 2.7-1.9 0-3.4-1.5-3.4-3.4 0-1.9 1.5-3.4 3.4-3.4 1.7 0 3.1 1.3 3.3 3h431.9c0.2-1.7 1.6-3 3.3-3 1.9 0 3.5 1.5 3.5 3.4z" />
                    </g>
                </g>
            </svg>
        </div>
        <div class="row">
            <div class="col-sm-3 d-flex justify-content-center">
                <img src="/images/JosiahSchwarz.jpg" class="img-fluid img-rounded" alt="Josiah Schwarz" draggable="false"/>
            </div>
            <div class="col-sm-9 d-flex flex-column justify-content-center">
                <div class="d-flex justify-content-center justify-content-sm-start">
                    <h3 class="h2 mt-3 mt-sm-0">Josiah Schwarz</h3>
                </div>
                <p>Josiah Schwarz has been an avid board gamer ever since he was a child! His favorite activity is playing strategy games with his friends. Some of his favorite games include Catan, Risk, DC Deck building, and Formula D, to name a few! He currently lives in Tulsa, Oklahoma, where he practices his career in accounting.</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-sm-3 d-flex justify-content-center">
                <img src="/images/DavidKloehr.png" class="img-fluid img-rounded" alt="Kavid Kloehr" draggable="false"/>
            </div>
            <div class="col-sm-9 d-flex flex-column justify-content-center">
                <div class="d-flex justify-content-center justify-content-sm-start">
                    <h3 class="h2 mt-3 mt-sm-0">David Kloehr</h3>
                </div>
                <p>David Kloehr is a producer, actor, writer, youtuber, and financial content analyst. He is also an avid board gamer! He relishes the classics like Catan, but he also enjoys newer games like Everdell! David currently lives in Tulsa Oklahoma where he is launching his film company!</p>
            </div>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="rule-modal" tabindex="-1" aria-labelledby="rule-modal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="rule-modal-label">Game Rules</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h2>Setup</h2>
                <p>
                    Crew cards – lay out 6 crew cards

                    Lay out the decks of “loot cards,” “treasure cards,” and “event cards”

                    Put 1 merchant ship on each of the 4 “red marks” to start the convoy lane
                </p>
                <h2>Objective of the game</h2>
                <p>
                    The goal of the game is to be the first player to find 2 treasure maps (either from islands or bosses) and sail to the hidden treasure island.
                </p>
                <h2>Start of the Game</h2>
                <p>
                    Roll the dice to determine who goes first
                    The first player picks which captain he would like to play as this game. You may chose whichever captain card you like that is still available, it is not a random draw. Then in a clockwise fashion each of the other players choses their captains.

                    Once everybody has chosen their captain card, then the last player places their pirate ship on any port they wish. Then in a clockwise fashion each of the other players choses their port to start the game on, moving from last player to first player.

                    A player may chose to put his ship on any of the 3 sides of the chosen port
                </p>
                <h2>Ship Chart</h2>
                <p>
                    Each player will receive a chart of their pirate ship they will be sailing this game. There are 4 categories of their ship they will be upgrading throughout the game: health, weapons, navigation, and cargo. Each number on your battle chart corresponds to the sided die you will role. Ie: Your weapons and navigation will start off on 2, thus you role a 2 sided die when moving, fighting, etc.

                    Each captain has different special abilities, so adjust your ship accordingly. However, unless your captain card specifies, lower your specs to the lowest level. Ex: Bellamy starts with 12 health, so turn health dial on your chart to 12 health

                    Gold is used to upgrade your pirate ship. At any point in the game, you may only hold as much gold as you have cargo space for.

                    Notoriety is used to purchase crew cards. This resource cannot be lost or stolen
                </p>
                <h2>Turn Order</h2>
                <ol>
                    <li>Move</li>
                    <li>Attack or land at an island/port</li>
                    <li>Upgrade ship/spend noteriety/repair ship</li>
                    <li>Move merchant convoy</li>
                    <li>Event Cards</li>
                </ol>
                <h2>Step 1: Move</h2>
                <p>
                    The first player starts his turn by moving his pirate ship. Each player must role their appropriate die (depending on the level they have upgraded their navigation) to start their turn. They may then move up to that many spaces if they wish. A player does not have to move if he doesn’t want to. If a player attacks or lands at a port/island, their movement turn is over.

                    A player may not move backwards (as a ship cannot turn around in the sea). They may move forward in any direction adjacent to their current line, but never backwards (unless they have the boatswain crew card)

                    If they land on a boss tile or the same spot as a merchant convoy, they do not have to attack

                    At any point in the game, a player may land on the same spot as another player. If this happens, the player does not have to attack if he does not wish. This is a most common occurrence in ports. If the first player does not wish to attack, but the second player wishes to, player 2 must wait until his turn to initiate the battle.
                </p>
                <h3>Island</h3>
                <p>
                    If at any point your ship lands on one of the islands, your turn is over and you may pull a treasure card.

                    Treasure Cards generally give more gold to players, while loot cards give more notoriety. However, players can easily get both resources from either card

                    You can only visit each island once, unless you die, or have visited all of the islands. There are 2 treasure maps in the deck of 20 treasure cards.

                    If you have landed on the side of an island, other players may still attack you
                </p>
                <h2>Step 2: Attack</h2>
                <h3>Attacking Merchant Convoys</h3>
                <p>
                    The player who attacks must role the dice first. If a player attacks a convoy, they role first. Every convoy or boss in this game will only role a 6 sided dice. The player roles his dice to determine damage, and then the convoy roles to inflict damage on the player. If a player deals enough damage to sink a ship, the ship does not return fire (roll the dice). Once a convoy is sunk, the player pulls a “loot card” from the deck, and then immediately pulls the appropriate amount of Gold/ notoriety and puts it in his hand, and then returns the loot card to the bottom of the deck.

                    Merchant convoys start off with 2 health and increase by +1 health every 3 turns until they reach 8 health. Players may use the “convoy turn chart” to track the health status of merchant convoys.
                </p>
                <h3>Attacking Other Pirates</h3>
                <p>
                    At any point in the game, a player may attack another player around the board. The attacking pirate roles the dice first.
                </p>
                <h3>Killing Another Pirate</h3>
                <p>
                    If a pirate is killed, the victor gains 4 notoriety and all of the defeated captain’s gold, and ONLY 1 treasure map (even if he has 2 treasure maps) You many not hold more gold than your cargo hold permits

                    The defeated pirate loses any upgrades made to his ship and starts at his captains original ship level. Although he will lose all of his collected gold, he still may keep his notoriety as well as any crew cards. He may then place his pirate ship at any port on the board he wishes. (However, he may not place his ship in the port closest to the pirate captain who just killed him) He may not immediately attack the captain who defeated him.
                </p>
                <h3>Escaping</h3>
                <p>
                    If the victim does not wish to fight, he may try to escape. Both pirate captains role their current navigation die to determine the outcome. If the victim roles a higher number than the attacking pirate captain, the victim successfully escapes and does not have to fight! If there is a tie, the escape is unsuccessful and both captains must fight.

                    If a player successfully escapes, the attacking pirate’s turn is over. He may not move or perform any other action – he has lost his turn.

                    Rules for Crew Card pertaining to escaping

                    If the pirate has the _____ crew card, the player applies this
                </p>
                <h2>Step 3: Upgrade Ship/Spend Noteriety/Repair Ship</h2>
                <p>
                    After completing the movement phase, a player may then upgrade their ship or recruit new pirates to join their crew. This may only happen at the end of the turn! A ship may only be upgraded once it has landed in port. Crew cards may not be purchased unless a captain has landed at port (Not an island under any circumstances). To repair your ship, you may only do so once you have landed in port. However, If a player has the Hullsman card, he may repair his ship at any island. Once your ship is repaired, return your health dial to what you had before the battle. Ex: you purchased +3 health

                    upgrades with gold and have a total health of 13, but you were damaged in battle. Upon returning to port, you repair your ship and return your health dial to 13, not just 10.

                    You may buy as many upgrades and crew cards as you can afford. However, crew cards will not be replaced until the end of your turn. For any upgrade, you may never spend less than 1 gold. Ex: you have both the merchant and captain William bart who have -1 cost to upgrade, but you still must pay 1 gold to upgrade your health.

                    If you have a +2 movement/attack card, you keep the dice that your ship rolls with. You then add your bonus onto your dice roll!
                </p>
                <h3>Crew Members</h3>
                <p>
                    Once a pirate has joined your crew, you immediately gain the benefits. Once a pirate joins your crew, you cannot lose him. You will permanently have these benefits the rest of the game, unless you chose to replace your crew card.

                    The max amount of crew cards any captain may have is 5. There are four types of crew cards you may acquire during the game, denoted by 4 colors. Health = green, Navigation = Blue, Attack = Red, and Other = Orange. You may only have 1 crew card from each category, unless it is the other (orange) category. You may have as many orange crew cards as you wish, or even take the spots of other colors two.

                    Ex: you many not have both the abled bodied sailors and the shanty man, as both are of the same (green) category

                    At any point, you may purchase a new crew card and replace a pirate card from your hand.

                    There should always be 6 crew cards flipped. If you buy a crew a crew card, the next one isn’t flipped until your turn is over. If it has been 2 turns, and nobody has bought a crew card, put an extra crew card on the table (to mitigate bad cards people don’t want to buy)
                </p>
                <h2>Step 4: Convoy</h2>
                <p>
                    After every player in the game has completed their turn, each merchant convoy is moved two spots forward. At any point in the game, merchant vessels should be behind the markers on the board. At all points of the game, the convoy should be no more than two markers ahead of the most recent convoy, or 4 lines on the map.

                    At the start of the game, the merchant convoy should be behind the starting red marker at the front of the map. The merchant convoy will not start on the board the first round. Then, after each player has played their first round, the convoy will move forward to the first space.

                    A new Convoy will be added to the game after every 3 turns
                </p>
                <h2>Step 5: Event Cards</h2>
                <p>
                    Once all the players of the game have finished their turn, that marks the end of the round. The convoy turn chart may be used to keep track of the turns in the game. At the end of every 3 turns, an event card will be flipped. This card will add a new game condition that applies to every player at the table until the next event card is flipped in 3 turns. Additionally, each event card will instruct that a new merchant fleet be added to the game. Put these 4 new vessels on their marked shipping lanes.
                </p>
                <h3>Hazards</h3>
                <p>
                    If a player touches any hazard on the map during their turn, they take damage. Be careful to plan your route accordingly and avoid hazards.

                    Any hazard touching the treasure Island in the middle of the map deals 10 damage. Make sure to upgrade your ship so you are strong enough to travel to the treasure

                    Storms Deal 8 damage, Rocks deal 5-6 damage

                    If you have the cartographer crew card, you take no damage from hazards
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>